<div class="container" style="background-image: url('https://images.pexels.com/photos/3802445/pexels-photo-3802445.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
<h1 class= text-light>New Strain</h1>
</div>
<%= render 'form', strain: @strain %>

<%= link_to 'Back', strains_path %>
